MOBIUS_HOST=158.179.161.105
MOBIUS_HTTP_PORT=7579
MOBIUS_MQTT_PORT=1883
MOBIUS_WS_PORT=7577
MOBIUS_AE=FacialEmo

AE_HTTP_PORT=9727
TAS_PORT=3105

# Only required if the legacy Twitter helper is used.
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
